<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">    
</head>
<body>
    <form method="post" action="/posts">
    <h2>write a new post</h2>
    <input type="text" name="username" id="username" placeholder="enter your username">
    <br><br>
    <textarea name="content" id="content" placeholder="enter a new content" rows="5" cols="30"></textarea>
    <br>
    <button class="btn-1 " >submit</button>
    <a href="http://localhost:8080/posts">Back</a>
    </form>


    
</body>
</html>